<div style="width:100%;">
<div style="margin:auto;width:600px;font-family:sans-serif;color:white;">
<h1>RenderMug</h1>
<h2>by Ryan Denlinger</h2>
<p><em>Use <b>hjklnm</b> to rotate mug. </em></p>
<p><form><em><b>(Optional) Select photons per pixel:

<select id="ppp">
<option value="100" selected="selected">100</option>
<option value="1000">1000 (slow)</option>
<option value="10000">10000 (very slow!!)</option>
</select>

<u>May crash your browser!!!</u>

</b></em></form>
</p>
</div>
</div>

    <div id="rendermug" style="width:100%;">
<div id="innerbox" style="position:relative;margin:auto;width:600px;height:600px;">
    <canvas id="rm" width="600" height="600"></canvas>
</div>
    </div>
