<div style="width:100%;">
<div style="margin:auto;width:600px;font-family:sans-serif;color:white;">
<%= image_tag("mugtopsmaller.png",style:"float:right;") %> 
<%= image_tag("mugsmaller.png",style:"float:left;") %> 
<h1>RenderMug</h1>
<h2>by Ryan Denlinger</h2>
<h3 id="instrHeader"><em>Drag mouse to rotate mug (or use hjklnm keys).</em></h3>
<h4 id="cpuHeader"></h4>
<p>Thanks to the creators of
<a href="https://gpu.rocks/" target="_blank" style="color:white">GPU.JS</a> for making this work possible!</p>
</div>
</div>

    <div id="rendermug" style="width:100%;">
<div id="innerbox" style="color:white;position:relative;margin:auto;width:600px;height:600px;">
<canvas id="rm" width="600" height="600">Error: HTML5 Canvas not supported.</canvas>
</div>
    </div>
