<div style="width:100%;">
<div style="margin:auto;width:600px;font-family:sans-serif;color:white;">
<%= image_tag("mugsmaller.png",style:"float:right;") %> 
<h1>RenderMug</h1>
<h2>by Ryan Denlinger</h2>
<h3><em><b>Drag mouse <u>slowly</u> to rotate mug.</b></em></h3>
<h4><em>Please allow several minutes for a full render.</em></h4>
</div>
</div>

    <div id="rendermug" style="width:100%;">
<div id="innerbox" style="color:white;position:relative;margin:auto;width:600px;height:600px;">
<canvas id="rm" width="600" height="600">Error: HTML5 Canvas not supported.</canvas>
</div>
    </div>
