<div style="width:100%;">
<div style="margin:auto;width:600px;font-family:sans-serif;color:white;">
<h1>RenderCup</h1>
<h2>by Ryan Denlinger</h2>
<p>
<em><b><u>Note:</u> This render is based on a path tracing
algorithm, which is generally not suitable for real-time
rendering. A realistic-looking image will take time to generate,
so please be patient!
</b></em>
</p>
<h3><em>Use <b>hjklnm</b> to rotate cup (optional!). </em></h3>
</div>
</div>

    <div id="rendermug" style="width:100%;">
<div id="innerbox" style="position:relative;margin:auto;width:400px;height:400px;">
<canvas id="rm" width="400" height="400"></canvas>
</div>
    </div>
