<div style="width:100%;">
<div style="margin:auto;width:600px;font-family:sans-serif;color:white;">
<h1>RenderMug</h1>
<h2>by Ryan Denlinger</h2>
<p><em>Use <b>hjklnm</b> to rotate mug. </em></p>
</div>
</div>

    <div id="rendermug" style="width:100%;">
<div id="innerbox" style="position:relative;margin:auto;width:600px;height:600px;">
    <canvas id="rm" width="600" height="600"></canvas>
</div>
    </div>
